*{
    background-color: black;
}
.pag1{
    background-color: black;
    border-radius: 2%;
    float: center;
    width:880px;
    height: 1000px;

}

.imagen1{
    border-radius: 2%;
    background-color: rgb(0, 0, 0);
    width:px;
    height: 250px;
    float: left;
    margin:15px ;
    
}


.imagen2{
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    left:16%;
    width: 397px;
    height: 500px;
    float: right;
    margin: 1.5%;
}


.imagen3{
    border-radius: 2%;
    background-color: black;
    width: 400px;
    top:-9%;
    left:7%;
    position: absolute;
    margin: 20%;
}


.imagen4{
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    top:55%;
    margin:1.5%;
    position: absolute;
}


.imagen5{
    border-radius: 2%;
    background-color: black;
    top:40%;
    left:90%;
    width: 400px;
    float: left;
    margin: 20%;
    position: absolute;
}




.pag2{
    background-color: black;
    border-radius: 2%;
    float: center;
    width:880px;
    height: 600px;
    margin-top: 20px;

}



.imagen2_1{
    border-radius: 2%;
    background-color: black;
    top:98%;
    left: 29%;
    height:600px;
    position: absolute;
}

















.pag3{
    background-color: black;
    border-radius: 2%;
    float: center;
    width:880px;
    height: 1000px;
    margin-top: 20px;

}




.imagen3_1{
    border-radius: 15%;
    background-color: black;
    top:140%;
    left:30%;
    width:160px;
    position: absolute;
}


.imagen3_2{
    border-radius: 15%;
    background-color: black;
    top:65%;
    left:2%;
    width:160px;
    position: absolute;
}


.imagen3_3{
    border-radius: 15%;
    background-color: black;
    top:115%;
    left:-120%;
    width:160px;
    position: absolute;
}



.imagen3_4{
    border-radius: 15%;
    background-color: black;
    top:25%;
    left:255%;
    width:160px;
    position: absolute;
}


.imagen3_5{
    border-radius: 15%;
    background-color: black;
    top:100%;
    left:25%;
    width:160px;
    position: absolute;
}


.imagen3_6{
    border-radius: 15%;
    background-color: black;
    top:85%;
    left:-10%;
    width:160px;
    position: absolute;
}









.pag4{
    background-color: rgb(0, 0, 0);
    border-radius: 2%;
    float: center;
    width:880px;
    height: 1000px;
    margin-top: 20px;

}


.imagen4_1{
    border-radius: 15%;
    background-color: black;
    top:245%;
    left:30%;
    width:160px;
    position: absolute;
}


.imagen4_2{
    border-radius: 15%;
    background-color: black;
    top:290%;
    left:30%;
    width:160px;
    position: absolute;
}


.imagen4_3{
    border-radius: 15%;
    background-color: black;
    top:295%;
    left:50%;
    width:160px;
    position: absolute;
}


.imagen4_4{
    border-radius: 15%;
    background-color: black;
    top:315%;
    left:50%;
    width:160px;
    position: absolute;
}

